@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
	height: 100%;
}

#page {
	height: 100% !important;
}

#contents {
	height: 100%;
}

#searchForm {
	width: 100%;
	padding: 5px;
	background: #eeeeee;
}

#map {
	background: #99ee99;
	height: 552px;
	line-height: 552px;
	vertical-align: center;
	text-align: center;
}

#map_canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#categoryButtonGroup {
	position: absolute;
	margin-top: 10px;
	margin-left: 123px; float : right;
	display: block;
	z-index: 1;
	float: right;
}